#apresentation {
    margin: 100px 0;
  }
  
  .info-apresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-apresentation h1 {
    font-size: 58px;
    color: #d9d9d9;
    line-height: 66px;
  }
  
  .info-apresentation span {
    background: linear-gradient(
      90deg,
      rgba(26, 127, 243, 1) 0%,
      rgba(107, 109, 214, 1) 35%,
      rgba(203, 36, 180, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d9d9d9;
  }

  .profile-photo {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(
      180deg,
      rgba(203, 36, 180, 1) 20%,
      rgba(26, 171, 243, 1) 100%,
      rgba(107, 109, 214, 1) 100%
    );
  }
  .profile-photo img {
    width: 335px;
  }
  